form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

form label{
  font-weight: bold;
}

form textarea{
  background-color: inherit;
  border: none;
  border-bottom: solid #363535;
  padding-bottom: 0.0005px;
  margin-bottom: 0.75em;
  outline-width: 0;
  font-size: 27px;
}

div {
  display: flex;
  justify-content: space-between;
}

form button{
  font-family: "bungee", cursive;
  color: #ffffff;
  background-color: #4056A1;
  
}
output.counter {
  font-family: "bungee", cursive;
}

.fontRed{
  color: red;
}