.tweet-container-article {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;

  font-size: 20px;
  word-wrap: break-word;
}

.tweet-list-article:hover {
  box-shadow: 10px 10px black;
  display: block;
}

.tweet-list-header {
  background-color: #f4f1ec;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 0em;
  padding-top: 0em;

}

.tweet-list-footer {
  border: none;
  border-top: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-list-image {
  height: 1.5em;
  width: 1.5em;
  margin: 0em;

}

.tweet-list-name {
  display: flex;
  flex-grow: 1;
  margin: 0.3em 0em 0.5em 0.5em;


}
.tweet-list-handle {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0.3em 0em;
}

.tweet-list-time {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

}

.tweet-list-icons i{
  margin-top: 1em;
  margin-right: 5px

}

.tweet-list-icons i:hover {
  color:#4056A1;
}

.tweet-list-icons.fas {
  color: #4056A1 !important
}