.tweet-list-article {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 15px;
}

.tweet-list-article:hover {

  box-shadow: 10px 10px black;

  display: block;
}

.tweet-list-header {
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.tweet-list-footer {
  border: none;
  border-top: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-list-image {
  height: 50px;
  width: 50px;

}

.tweet-list-name {
flex-grow: 1;
margin-left: 15px;

}

.tweet-list-time {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

}

.tweet-list-icons i{
  margin-right: 5px;

}

.tweet-list-icons.fas {
  color: #4056A1 !important
}